html{
    scroll-behavior:smooth;
    scroll-padding:10px;
}
*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(17, 16, 16);
    color:white;
    font-family:serif;
}
p{
    color:rgb(184, 184, 184);
    font-size:18px;
    font-size:1.1rem;
    font-weight: 800;
    line-height:1.8rem;
}
h1{
    font-size:1.8rem;
    font-weight:800;
    color:white;
    text-align:center;
}

/* Nav-Bar */
.nav-bar {
    display:flex;
    justify-content:space-between;
    height:fit-content;
    position:sticky;
    top:0;
    left:0;
    z-index:999;
    background-color:black;
    box-shadow: 0 1px 10px rgb(85, 85, 85);
    padding:2rem 0;
}
.logo{
    margin-left:2rem;
    display:flex;
    align-items:center;
}
.logo #profile1{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:1rem;
}
.nav-links{
    /* margin-right:1rem; */
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#menu{
    display:none;
}
.nav-links a{
    text-decoration:none;
    color:white;
    font-size:16px;
    font-weight:500;
    margin-right:2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.nav-links a:hover{
    color:#0d00c0;
}

/* hero */
#hero{
    background-size:cover;
    height:88vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#hero h1{
    font-size:2.2rem;
    margin-bottom:2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hero p{
    width:60%;
    margin-bottom:1.5rem;
    text-align:left;
}
.btn{
    border:none;
    border-radius:5px;
    font-size:15px;
    padding:12px;
    color:white;
    text-decoration:none;
    margin:2rem 0.5rem 0 0.5rem; 
    box-shadow:0 0 4px white;
}
.resume-btn{
    background-color:rgb(0, 122, 0);
}
.resume-btn:hover{
    background-color:rgb(22, 151, 22);
}
.know-btn{
    background-color:rgb(21, 32, 139);
}
.know-btn:hover{
    background-color:rgb(0, 0, 175);
}
.social-links{
    display:flex;
}
.social-links li{
    margin:10px 0px;
    font-size:28px;
    color:black;
    margin-top:1rem;
    list-style:none;
    margin:1rem;
    border-radius:100%;
    padding:3px 6px;
}
.social-links li a{
    color:white;
}
.social-links li:hover{
    transition-duration: 200ms;
    transform:scale(1.2)
}

/* about me */
#about{
    padding:5rem;
}
.about-header{
    text-align:center;
}
.about-header p{
    margin:1rem 0 3rem 0;
}
.about-content{
    display:flex;
}
.about-text{
    width:50%;
}
.about-text p{
    margin-top:1.5rem;
}
.about-skills{
    width:50%;
    margin:auto;
    margin-left:5rem;
}
.about-skills ul{
    list-style: none;
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-left:0;
    padding:0;
}
.about-skills li{
    color:#000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    font-weight:600;
    background-color:rgb(218, 218, 218);
    border-radius:8px;
    padding:8px 12px;
    margin:1rem 1rem 0 0;
}
.about-skills li:hover{
    background-color:rgb(22, 54, 160);
    color:white;
}
/* Study */
#study{
    padding:5rem 7rem;
    min-height:80vh;
    display:flex;
    justify-content:center;
    flex-direction:column;

}
#study div h2{
    margin:1.5rem 0;
}
/* Contact  */
.contact{
    padding:4rem;
    text-align:center;
    font-family:sans-serif;
}
.contact-content{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    padding:30px;
}
.contact-content div{
    min-width:300px;
    height:150px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:6px;
    padding: 1rem 0;
    box-shadow:0 0 3px rgba(165, 165, 165, 0.651);
}
.contact-content div i{
    font-size:1.5rem;
    margin-bottom:1rem;
    color:rgb(0, 56, 209);
}
.contact-content div a{
    color:white;
    margin-top:1rem;
}
.contact-content div a:hover{
    text-decoration:underline;
}

/* projects */
.projects{
    padding: 2rem 5rem;
    text-align:center;
}
.projects h2{
    margin:2rem;
    font-size:2rem;
}
.project-content{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;;
    align-items:center;
    margin-top:3rem;
}
.project-content div{
    width:40%;
    height:fit-content;
    margin-top:2rem;
    background-color:#d8d8d8;
    padding:2rem;
    border-radius:10px;
    text-align: left;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.project-content h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size:1.5rem;
    margin-bottom:0.6rem;
    text-decoration:underline;
    color:black;
}
.project-content h4:after{
    content: ":";
}
.project-content p{
    color:rgb(43, 43, 43)
    
}
.project-content button{
    margin-top:1rem;
    padding:6px 12px;
    color:white;
    background-color:#0f00e4;
    border:1px solid black;
    border-radius:6px;
    font-size:1rem;
    font-weight:600;
}
.project-content button:hover{
    background-color:#0a0096;
}

/* footer */
footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3rem 5rem;
    flex-wrap:wrap;
}
.footer-text{
    width:50%;
    padding:2rem;
}
.footer-text h2{
    margin-bottom:1rem;
    font-family:monospace;
    font-size:1.6rem;
    font-weight:800;
}
.social h3{
    margin: 0 0 1rem 3rem;
}
.social ul{
    list-style:none;
    display:flex;
    gap:1rem;
    margin-left:0;
}
.social ul i{
    font-size:1.8rem;
    color:rgb(255, 255, 255);
}
.social ul i:hover{
    transform:scale(1.2);
    transition:all 200ms;
}
footer > p{
    width:100%;
    text-align:center;
}
footer > p span{
    text-decoration:underline
}
.message{
    position:fixed;
    right:10px;
    bottom:10px;
    font-size:26px;
    background-color:green;
    color:white;
    padding:4px 8px;
    border-radius:8px;
}
.fa-whatsapp:hover{
    transform:scale(1.15);
    transition:200ms
}
#active{
    display:none
}
#remove{
    display:none;
}
@media screen and (min-width:600px){
    #active{
        display:flex !important;
    }
}
@media screen and (max-width:600px){
    *{
        font-size:1.1rem;
    }
    .contact-content{
        flex-direction:column;
    }
    .contact-content div{
        margin-top:1rem;
    }
    .social-links{
        bottom:0;
    }
    #about{
        padding:2rem;
    }
    .about-text{
        width:100%;
    }
    .about-content{
        width:100%;
        margin:0;
        padding:0;
        flex-direction:column;
    }
    #study{
        padding:2rem;
    }
    .projects{
        padding:1.5rem;
    }
    .project-content div{
        width:100%;
        height:fit-content;
    }
    .footer-text{
        padding:1rem;;
        width:100%;
    }
    .social{
        padding:0;
    }
    .nav-bar{
        text-align:center;
    }
    .nav-links{
        flex-direction:column;
        position:absolute;
        right:0;
        top:0;
        height:fit-content;
        background-color:#dfdfdf;
        padding:2rem 3rem;
        border-radius:0 0 0 10px;
    }
    .nav-links a{
        color:black;
        margin-top:0.6rem;
        text-align:center;
        margin-right:0;
        font-size:20px;
    }
    #menu{
        display:flex;
        margin-right:2rem;
        align-items:center;
    }
    #remove{
        display:flex;
        margin:15px 0 0 0;
        color:black
    }
    #hero h1{
        font-size:1.8rem;
    }
    #hero p{
        width:70%;
    }
    #about{
        margin:0;
    }
    .about-skills{
        padding-top:2rem;
        width:100%;
        margin-left:0;
    }
    .about-skills ul{
        padding:0;
        margin:0;
        width:100%;
    }
    .about-skills ul li{
        margin-right:2px;
    }
}
@media screen and (max-width : 1000px){
    .contact-content{
        flex-direction:column;
        gap:1.5rem;
    }
    .project-content div{
        width:90%;
    }
}