html{
    scroll-behavior:smooth;
    scroll-padding:10px;
}
*{
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#active .active1{
    color:#0f00e4;
}
.nav-bar {
    display:flex;
    justify-content:space-between;
    height:12vh;
    background-color:#ffffff;
    position:sticky;
    top:0;
    left:0;
    z-index:999;
    box-shadow: 0 1px 10px rgb(85, 85, 85);
}
.logo{
    margin-left:1rem;
    display:flex;
    align-items:center;
}
.logo #profile1{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:1rem;
}
#image-viewer{
    display:none;
}
.logo #image-viewer{
    position:absolute;
    top:120%;
    left:10%;
}
.logo h2{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(92, 83, 72);
}
#image-viewer img{
    border-radius:100%;
    height:auto;
    width:auto;
}
#image-viewer i{
    font-size:30px;
}
.nav-links{
    margin-right:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#menu{
    display:none;
}
.nav-links a{
    text-decoration:none;
    color:black;
    font-size:16px;
    font-weight:500;
    margin-right:2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.nav-links a:hover{
    color:#0d00c0;
}
.side-nav{
    display:flex;
}
.side-nav li{
    margin:10px 0px;
    font-size:20px;
    color:black;
    margin-top:1rem;
    list-style:none;
    margin:1rem;
    border-radius:100%;
    background-color:white;
    padding:3px 6px;
}
.side-nav li:first-child a{
    color:black;
}
.side-nav li:nth-child(2) a{
    color:rgb(13, 99, 156);
}
.side-nav li:nth-child(3) a{
    color:rgb(24, 23, 23);
}
.side-nav li:nth-child(4) a{
    color:rgb(109, 0, 0);
}
.side-nav li:hover{
    transition-duration: 200ms;
    transform:scale(1.2)
}
#remove{
    display:none;
}


/* hero */
#hero{
    background-image:url('../images/background.avif');
    background-size:cover;
    height:90vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#hero h1{
    font-size:2.5rem;
    margin-bottom:2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hero p{
    width:60%;
    margin-bottom:1.5rem;
    color:#585858;
    font-size:1.1rem;
    font-weight: 500;
    line-height:1.8rem;
    text-align:left;
}

.btn{
    border:1px solid rgb(0, 0, 0);
    border-radius:5px;
    font-size:15px;
    font-weight:400;
    color:white;
    padding:6px 8px;
    color:white;
    text-decoration:none;
    margin-top:2rem; 
}
.resume-btn{
    background-color:rgb(22, 151, 22);
}
.resume-btn:hover{
    background-color:rgb(0, 122, 0);
}
.know-btn{
    background-color:rgb(21, 32, 139);
}
.btn a{
    color:black;
}
.know-btn:hover{
    background-color:rgb(0, 0, 175);
}


/* about me */
#about{
    padding:5rem;
    background-color:#f1ecec;
}
.about-header{
    text-align:center;
}
.about-header h1{
    font-size:2.4rem;
}
.about-header p{
    font-size:18px;
    font-weight:500;
    color:#464646;
    margin:1rem 0 3rem 0;
}
.about-content{
    display:flex;
    /* padding:3rem; */
}
.about-text{
    width:50%;
}
.about-text p{
    margin-top:1.5rem;
    font-size:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    color:#2c2c2c;
}

.about-skills{
    width:50%;
    margin:auto;
    margin-left:5rem;
}
.about-skills ul{
    list-style: none;
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-left:0;
    padding:0;
}
.about-skills li{
    color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    font-weight:600;
    background-color:rgb(145, 143, 143);
    border-radius:8px;
    padding:8px 12px;
    margin:1rem 1rem 0 0;
}
.about-skills li:hover{
    background-color:rgb(22, 54, 160);
}
/* Study */

#study{
    background-color:#f1ecec;
    padding:5rem 7rem;
}
#study-heading{
    text-align:center;
    font-size:30px;
}
#study div h2{
    margin:1.5rem 0;

}
#study div p{
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2c2c2c;
    font-weight:600;
}
#study div p:before{
    content:">"
}
/* Contact  */

.contact{
    background-color:#f1ecec;
    padding:3rem;
    text-align:center;
    font-family:sans-serif;
}
.contact h2{
    margin-top:1rem;
}
.contact p{
    color:#585858;
    font-weight:700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-content{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    padding:30px;
}
.contact-content div{
    width:300px;
    height:150px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.651);
    border-radius:6px;
    color:#464646;
    padding: 1rem 0;
}
.contact-content div i{
    font-size:1.5rem;
    color:#585858;
    margin-bottom:1rem;
}
.contact-content div a{
    color:#464646;
    text-decoration:none;
    color:blueviolet;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:1rem;
}
.contact-content div a:hover{
    text-decoration:underline;
}
.contact-content div p{
    margin-top:1rem;
}

/* projects */

.projects{
    background-color:#f1ecec;
    padding: 2rem 5rem;
    text-align:center;
}
.projects h2{
    margin:2rem;
    font-size:2rem;
}
.projects p{
    color:#464646;
    font-weight:500;
    font-size:1.1rem;
}
.project-content{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;;
    align-items:center;
    margin-top:3rem;
}
.project-content div{
    width:42%;
    height:130px;
    margin-top:2rem;
    background-color:#d6d6d6;
    padding:2rem;
    border-radius:10px;
    text-align: left;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.project-content h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size:1.2rem;
    margin-bottom:0.6rem;
    text-decoration:underline;
    color:#2c2c2c;
}
.project-content h4:after{
    content: ":";
}
.project-content p{
    font-weight:400;
    font-weight:1.4rem;
    color:#464646;
}
.project-content button{
    margin-top:1rem;
    padding:6px 12px;
    color:white;
    background-color:#0f00e4;
    border:1px solid black;
    border-radius:6px;
    font-size:1rem;
    font-weight:600;
}
.project-content button:hover{
    background-color:#0a0096;
}

/* footer */
footer{
    background-color:#383838;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3rem 5rem;
    flex-wrap:wrap;
    color:white;
}
.footer-text{
    width:50%;
    padding:2rem;
}
.footer-text h2{
    margin-bottom:1rem;
    font-family:monospace;
    font-size:1.6rem;
    font-weight:800;
    
}
.footer-text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-size:1.1rem;

}
.social{
    padding:3rem;
}
.social h3{
    margin: 0 0 1rem 3rem;
}
.social ul{
    list-style:none;
    display:flex;
    gap:1rem;
    margin-left:0;
}
.social ul i{
    font-size:1.8rem;
    color:rgb(255, 255, 255);
}
.social ul i:hover{
    transform:scale(1.2);
    transition:all 200ms;
}
footer > p{
    width:100%;
    text-align:center;
    font-size:1rem;
    font-weight:500;
    margin-top: 3rem;;
}
footer > p span{
    text-decoration:underline
}

.wa-btn{
    /* position:absolute;
    right:10px;
    bottom:10px; */
}
.message{
    position:fixed;
    right:10px;
    bottom:10px;
    font-size:26px;
    background-color:green;
    color:white;
    padding:4px 8px;
    border-radius:8px;
}
.fa-whatsapp:hover{
    transform:scale(1.15);
    transition:200ms
}
@media screen and (max-width:600px){
    .contact-content{
        flex-direction:column;
    }
    .contact-content div{
        margin-top:1rem;
    }
    .side-nav{
        bottom:0;
    }
    #about{
        padding:2rem;
    }
    .about-text{
        width:100%;
    }
    .about-content{
        width:100%;
        margin:0;
        padding:0;
        flex-direction:column;
    }
    #study{
        padding:2rem;
    }
    .projects{
        padding:1.5rem;
    }
    .project-content div{
        width:100%;
        height:fit-content;
    }
    .footer-text{
        padding:1rem;;
        width:100%;
    }
    .social{
        padding:0;
    }
    #active{
        display:none;
    }
    .nav-bar{
        align-items:center;
        padding-right:2rem;
    }
    .nav-links{
        color:#d6d6d6;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        position:absolute;
        right:0;
        top:0;
        height:100vh;
        background-color:#2c2c2c;
        margin-right:0;
        padding:3rem 0 0 2rem;
    }
    .nav-links a{
        color:white;
        margin-top:0.6rem;
    }
    #menu{
        display:flex;
    }
    #remove{
        display:flex;
        position:absolute;
        left:20px;
        top:20px;
    }
    #hero h1{
        /* padding:3rem; */
        font-size:1.8rem;
    }
    #hero p{
        width:70%;

    }
    #about{
        margin:0;
    }
    .about-skills{
        padding-top:2rem;
        width:100%;
        margin-left:0;
    }
    .about-skills ul{
        padding:0;
        margin:0;
        width:100%;
    }
    .about-skills ul li{
        margin-right:2px;
    }
}